
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 300%;
    height: 300%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    top: calc(50vh - 280px);
    left: calc(50vw - 250px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #ffffff;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
h1{
    margin:0;
    padding:0;
    font-family: Serif ;
    text-align: left;
    margin-left: 30px;
    margin-top:40px;
    font-size:100px;
    text-decoration: none !important;

}
p{
    font:32px; 
    margin: 10px; 
    line-height: 2.0;
    font-family:Serif;
    text-decoration: none !important;

    
}
body{
    font-family:serif ;
}
* {
    margin: 0px;
    padding: 0px;
  }

.banner{
    width: 100%;
    height: 100vh;
   background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jfif);
    background-size: cover; 
    background-position: center;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width: 120px;
    cursor:pointer;
    margin-left: -20px;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: fit-content;
    position: absolute;
    top:20%;
    text-align:center;
    color: #fff;
    overflow: hidden;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    animation: animate 5s linear forwards;
    text-align: left; 
    margin-top: 40px; 
    margin-left: 100px;

}
.content h1{
    font-size: 100px;
    color: white;
}
 
@keyframes animate {
    0% {
        width: 10%;
        height: 0%;
    }
    10% {
        width: 20%;
        height: 10%;
    }
    20%{
        width: 40%;
        height: 20%;
    }
    30% {
        width: 80%;
        height: 40%;
    }
    60% {
        width: 100%;
        height: 80%;
    }
    80% {
        width: 70%;
        height: 100%;
    }
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    text-decoration: none !important;
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    font-family: serif;
    margin-left: 100px;
    margin-top:40px;
}
button span{
    height: 100%;
    width: 0;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    background: #45a49d;

}
button:hover button span{
    width: 100%;

}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.aboutUsContent{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
    color: #fff;
}
.aboutUsContent h1{
    font-size: 70px;
    margin-top: 80px;
}
.aboutUscontent p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.aboutUsBanner{
    width: 100%;
   background-color: rgb(255, 255, 255);
    background-size: cover; 
    background-position: center;
    float:left; 
    margin-top: 70px; 
    font-size: 20px;
    text-align: center;
}
    .logoimg{
        height: 500px; 
        float: right; 
}
.large-text{
    font-weight: 100;
    font-size: 24px;
    line-height: 1.5em;
    margin: 30px 0px;
    margin-left: 250px;
    margin-right: 250px;
    font-family: serif;

}
.headline-container {
    margin-bottom: 30px;
    margin-top: 5px;
    
}

    .headline-container h2 {
        max-width: 600px;
        margin: 0px auto;
        font-family: serif;
        font-weight: 100;

    }

.headline-lines {
    width: 20%;
    height: 2px;
    background: #272b2d;
    margin: 20px auto;
    font-family: serif;

}
.OurTeam{
    width: 100%;
   background-color: rgb(255, 255, 255);
    background-size: cover; 
    background-position: center;
    float:left; 
    margin-top: 70px; 
    font-size: 20px;
    text-align: center;
    font-family: serif;

}
.text-center{
    text-align: center;
    font-family: serif;
    font-size: 39px;
}
.center-btn {
  background-color:  #38c6bd;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: serif;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  width: 200px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font-weight: bold;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;
  margin-right: -500px;
  
}

.center-btn:after {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.center-btn:hover:after {
  transform: translate(0, 0);
}

.center-btn:active {
  background-color: #000000;
  outline: 0;
}

.center-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .center-btn {
    padding: 0 40px;
  }
}
.hero{
    height: 100vh;
    width: 100%;
    position: relative;
}
.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}
.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}
.user-img{
    position: absolute;
    top:0;
    right:0;
    height: 100%;
}
.user-img img{
    height: 100%;
    border-radius: 10px;
}
.user-text{
    background: #38c6bd;
    width: 420px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 50;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #000000;
    pad: 450x;
    box-sizing: border-box;
    z-index: 2;
    margin-top: 200px;
    text-align: left;
    font-family: serif;
}
.user-tex p{
    font-size: 21px;
    line-height: 24px;
    

}
.user-tex h3{
    text-align: left;
    font-size: 21px;
    line-height: 24px;
    text-align: left;
    margin-left: 10px;

}
.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px
}
.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #38c6bd;
    cursor: pointer;
    transition: o.5s;
}
.active{
    width: 45px;
}
.teamshots{
    width: 100%;
    height: 100%;
    overflow: hidden;
}